<!-- partials/_navbar.ejs -->

<nav>
  <a href="/">Home</a>
  <% if (user) { %>
  <a href="/recipes">View my Recipes</a>
  <a href="/users">Explore Community</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>