<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Our Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Explore Our Community</h1>
    <ul>
        <% users.forEach((user) => { %>
        <li>
            <a href="/users/<%= user.username %>"><%= user.username %></a>
        </li>
        <% }) %>
    </ul>
  </body>
</html>